RewriteEngine On
RewriteBase /research/

# ถ้าเป็นไฟล์หรือโฟลเดอร์จริง ให้ผ่าน
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# อย่างอื่นส่งไปที่ web/index.php
RewriteRule ^ web/index.php [L]
